<!DOCTYPE html>
<html>
    <head lang='en'>
        <meta charset="utf-8">

        <title><%= room.name %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/chatSocket.js'></script>
    </head>
    <body>

        <div class='container'>
            <div class='row m-b'>
                <h4 class='inline' > <span class='label label-default' style='font-weight:bold;'> <%= user.nickname %> </span> </h4>

                <div class='inline pull-right'>
                    <a class='btn btn-default btn-sm' id='btnLeaveRoom' href=''> Leave </a>
                    <a class='btn btn-default btn-sm' href='/logout'> Log out </a>
                </div>
            </div>

            <h1 class='row'> <center> <%= room.name %> </center> </h1>
            <div class='hidden' id='roomName'><%= room.name     %></div>
            <div class='hidden' id='nickname'><%= user.nickname %></div>

            <div class='row well well-sm'>
                <div id='membersBox'>
                    <% for(var m in room.members) { %>
                        <span id='<%= m %>' class='roomMember' style='color:<%= room.members[m] %>' > <%= m %> </span>
                    <% } %>
                </div>
            </div>

            <div class='row well room' style='padding: 0px'>
                <div id='chatWrap'>
                    <table id='chat' class='table'>
                    </table>
                </div>
                
                <form id='chatMessageForm'>
                    <div class="input-group">
                        <input id="chatMessageField" type="text" class="form-control" placeholder='Type here' autocomplete='off'>
                        <span class="input-group-addon"><i class='fa fa-comments'></i></span>
                    </div>
                </form>
                
            </div>

        </div>

        <a id='githubBox' data-toggle='tooltip' data-placement='left' title='View this project on github' class='fa fa-github' href='https://github.com/ozhi27/chatroom' ></span>

    </body>
</html>
