<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">

        <title>Rooms</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/rooms.js'></script>
    </head>
    
    <body>

        <div id='roomsContainer' class='container'>

            <div class='row m-b'>
                <h4 class='inline' > <span class='label label-default' style='font-weight:bold;'> <%= user.nickname %> </span> </h4>

                <div class='inline pull-right'>
                    <a class='btn btn-default btn-sm' href='/logout'> Log out </a>
                </div>
            </div>

            <form id='newRoomForm' class='row well m-b' action='/rooms' method='post'>

                <div id='roomNameInputGroup' class="input-group m10">
                    <span class="input-group-addon"><i class='fa fa-comments'></i></span>
                    <input type="text" class="form-control" name='newRoomNameField' placeholder="Room name" autocomplete="off">
                </div>

                <div class="input-group m10">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" name='newRoomPasswordField' placeholder="Password (optional)">
                </div>

                <div class="input-group m10">
                    <span class="input-group-addon"><i class='fa fa-users'></i></span>
                    <input type="number" class="form-control" name='newRoomMaxMembersField' autocomplete="off" value='10' min='1' max='30' data-toggle='tooltip' data-placement='bottom' title='Max. members of the room'>
                </div>

                <div class='row'>
                    <div class='pull-right'>
                        <button class="btn btn-primary m10" type="submit">New room</button>
                    </div>
                </div>
            </form>

            <table id='roomsList' class="row center table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Members</th> 
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<roomsList.length; i++) { %>
                        <tr id='<%= roomsList[i].name %>' data-href='/rooms/<%= roomsList[i].name %>'> <!-- tr id is used for roomsList updates -->
                            <td>
                                <% if(roomsList[i].password == 'protected') { %>
                                    <span class='fa fa-lock' data-toggle='tooltip' title='Private'></span>
                                <% } else { %>
                                    <span class='fa fa-unlock' data-toggle='tooltip' title='Public'></span>
                                <% } %>

                                <%= roomsList[i].name %>
                            </td>
                            <td>
                                <div class='progress' data-toggle='tooltip' title='<%= roomsList[i].curMembers %> / <%= roomsList[i].maxMembers %>'>
                                    <div class='progress-bar' role='progressbar'
                                        aria-valuenow='<%= roomsList[i].curMembers %>'
                                        aria-valuemin='0'
                                        aria-valuemax='<%= roomsList[i].maxMembers %>'
                                        style='width:<%= roomsList[i].curMembers/roomsList[i].maxMembers*100 %>%'>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        
        </div>

        <a id='githubBox' data-toggle='tooltip' data-placement='left' title='View this project on github' class='fa fa-github' href='https://github.com/ozhi/chatroom' ></span>

    </body>
</html>
