<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        
        <title><%= room.name %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/chatSocket.js'></script>
    </head>
    <body>

        <h1> <%= room.name %> </h1>
        <div class='hidden' id='roomName'><%= room.name     %></div>
        <div class='hidden' id='nickname'><%= user.nickname %></div>

        <span style='color:<%= user.color %>; font-weight:bold;'> <%= user.nickname %> </span>
        |
        <a href='/logout'>Logout</a>
        |
        <a href='' id='btnLeaveRoom'>Leave</a>

        <br><br><br>

        <div class='room'>
            Members:
            <div id='membersBox'>
                <% for(var m in room.members) { %>
                    <span id='<%= m %>' class='nickname' style='color:<%= room.members[m] %>;'> <%= m %> </span>
                <% } %>
            </div>
        
            <div id='chatWrap'>
                <table id='chat'>
                </table>
            </div>
            
            <form id='chatMessageForm'>
                <input id="chatMessageField" autocomplete="off" placeholder='Type here'/>
            </form>
        </div>

    </body>
</html>
