<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8">

        <title>Rooms</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/rooms.js'></script>
    </head>
    
    <body>

        <div id='roomsContainer' class='container'>

            <div class='row'>
                <span style='color:<%= user.color %>; font-weight:bold;'> <%= user.nickname %> </span>
                |
                <a href='/logout'><span id='logoutBtn' class='glyphicon glyphicon-log-out' data-toggle='tooltip' data-placement='bottom' title='Log out'></span></a>
            </div>

            <br><br><br>

            <form id='newRoomForm' action='/rooms' method='post'>
                            <input type='text'     name='newRoomNameField'       placeholder='Name' autocomplete='off'> <br>
                            <input type='password' name='newRoomPasswordField'   placeholder='Password'>                <br>
                Max members: <input type='number'   name='newRoomMaxMembersField' value='10' min='1' max='30'>           <br>
                <input type='submit' value='New room'>
            </form>

            <table id='roomsList' class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Room</th>
                        <th>Members</th> 
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<roomsList.length; i++) { %>
                        <tr id='<%= roomsList[i].name %>' data-href='/rooms/<%= roomsList[i].name %>'> <!-- tr id is used for roomsList updates -->
                            <td>
                                <% if(roomsList[i].password == 'protected') { %>
                                    <span class='fa fa-lock' data-toggle='tooltip' title='Private'></span>
                                <% } else { %>
                                    <span class='fa fa-unlock' data-toggle='tooltip' title='Public'></span>
                                <% } %>

                                <%= roomsList[i].name %>
                            </td>
                            <td>
                                <div class='progress' data-toggle='tooltip' title='<%= roomsList[i].curMembers %> / <%= roomsList[i].maxMembers %>'>
                                    <div class='progress-bar' role='progressbar'
                                        aria-valuenow='<%= roomsList[i].curMembers %>'
                                        aria-valuemin='0'
                                        aria-valuemax='<%= roomsList[i].maxMembers %>'
                                        style='width:<%= roomsList[i].curMembers/roomsList[i].maxMembers*100 %>%'>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        
        </div>

    </body>
</html>
