<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title><%= room.name %></title>

        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media='screen'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" media='screen'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src='/javascripts/rooms.js'></script>

        <script>
            $(document).ready(function() {
                $("[name=joinRoomPasswordField]").focus();
            });
        </script>
    </head>

    <body>

        <div id='roomPassContainer' class='container'>
            <div class='row'>
                <span style='color:<%= user.color %>; font-weight:bold;'> <%= user.nickname %> </span>
                |
                <a href='/logout'><i id='logoutBtn' class='glyphicon glyphicon-log-out' data-toggle='tooltip' data-placement='bottom' title='Log out'></i> Log out</a>
                |
                <a href='/'><i id='logoutBtn' class='fa fa-undo' data-toggle='tooltip' data-placement='bottom' title='Back'></i> Back</a>
            </div>

            <h1 class='row'><center><%= room.name %></center></h1>

            <form id='joinRoomForm' class='row' action='/rooms/<%= room.name %>' method='POST'>
                <div id='roomNameInputGroup' class="input-group m10">
                    <span class="input-group-addon"><i class='glyphicon glyphicon-lock'></i></span>
                    <input type="password" class="form-control" name='joinRoomPasswordField' placeholder="Enter room password">
                </div>
            </form>
        </div>

    </body>
</html>
